/* GLOBAL DESIGN */

:root {
  /* Device's display */
  --mobile-min-display: 768px;

  /* Button Colors */
  --p-btn-primary: #007bff;
  --p-btn-primary-hover: #0056b3;
  --p-btn-secondary: #6c757d;
  --p-btn-secondary-hover: #545b62;
  --p-btn-success: #28a745;
  --p-btn-danger: #dc3545;
  --p-btn-danger-hover: #bd2130;
  --p-btn-warning: #ffc107;
  --p-btn-warning-hover: #d39e00;
  --p-btn-info: #17a2b8;
  --p-btn-info-hover: #117a8b;
  --p-btn-light: #f8f9fa;
  --p-btn-light-hover: #dae0e5;
  --p-btn-dark: #343a40;
  --p-btn-dark-hover: #1d2124;
  --p-btn-link: #007bff;
  --p-btn-link-hover: #0056b3;
  

  /* Panel color and design */
  --p-panel-primary: #007bff;
  --p-panel-secondary: #6c757d;
  --p-cream-section: #f8f9fa;
  --p-cream-section-hover: #f1f3f5;
  --p-panel-success: #28a745;
  --p-panel-success-soft: #d4edda;
  --p-panel-danger: #dc3545;
  --p-footer: #343a40;

  --p-border-rad: 8px;
  --p-border-color: #111;

  --display-min-height: 100vh;
  --display-max-height: 100vh;

  --p-margin: 5px;
  --p-padding: 10px;

  /* Shadow */
  --p-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);



  /* Text color */
  --p-text-primary: #212529;
  --p-text-secondary: #6c757d;
  --p-text-light: #f8f9fa;

  /* Font */
  --btn-bold : bold;


  /* Table color */
  --table-primary: #007bff;
  --table-primary-light: #2d92ff;
  --table-primary-dark: #0056b3;
}