@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .slide-panel {
    @apply min-w-16 flex flex-col transition-all duration-200 bg-gradient-to-b from-blue-500 to-green-800;
  }

  .slide-profile {
    @apply flex flex-row relative rounded-xl;
  }

  .slide_profile_img {
    @apply flex flex-row relative max-h-12 border-2 border-white rounded-full m-2;
  }

  .slide-list {
    @apply max-h-16 flex flex-row text-2xl p-2.5 text-slate-900 hover:text-slate-100 hover:bg-sky-800;
  }

  /* .slide-list:hover {
    @apply bg-sky-800 text-slate-100;
  } */

  .set-hide {
    @apply hidden;
  }

  .slide-panel-open {
    @apply min-w-64;
  }

  .show {
    @apply block;
  }

  /* Hover Action */
  .hover-action {
    @apply hover:bg-sky-800 hover:text-slate-100 rounded-xl;
  }

  .p-footer {
    @apply text-center;
  }

  .p-base {
    @apply flex flex-col rounded-xl border-black p-4 m-4 shadow-xl bg-neutral-200;
  }

  .p-title {
    @apply font-bold;
  }

  /* Table */
  .p-table {
    @apply flex flex-col border border-black;
  }

  .p-table-thead {
    @apply w-full flex flex-row text-slate-950 font-bold;
  }

  .p-table-th {
    @apply;
  }



  .user-role {
    @apply border-2 py-2 px-4 rounded-xl bg-cyan-800 text-zinc-50;
  }


  /* Button */
  .btn-common {
    @apply font-bold rounded-lg text-lg  w-48 h-16 bg-[#1f75ff] text-[#ffffff] justify-center;
  }

  /* Textbox */
  .p-textbox {
    @apply bg-gray-50 text-gray-600 border focus:border-transparent
    border-gray-300 sm:text-sm rounded-lg ring ring-transparent focus:ring-1
    focus:outline-none focus:ring-gray-400 block w-full p-1 rounded-l-lg py-2 px-3;
  }

  /* Button */
  /* .btn-post-1 {
    @apply w-full text-white bg-blue-500 focus:outline-none 
    focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-6;
  } */

  /* POST */
  .btn-post-common-1 {
    @apply w-full rounded-lg bg-blue-500 my-1 text-sm text-neutral-50 text-center px-5 py-2.5;
  }

  .btn-post-accept-1 {
    @apply w-full rounded-lg bg-green-700 my-1 text-sm text-neutral-50 text-center px-5 py-2.5;
  }

  .btn-post-danger-1 {
    @apply w-full rounded-lg bg-red-700 my-1 text-sm text-neutral-50 text-center px-5 py-2.5;
  }

  .panel-post-1 {
    @apply w-full rounded-lg bg-blue-500 my-1 text-sm text-neutral-50 text-center px-5 py-2.5;
  }

  .btn-accept-1 {
    @apply font-bold rounded-lg text-lg  w-24 h-12 bg-green-700 text-sm text-neutral-50 justify-center;
  };

  .btn-danger-1 {
    @apply font-bold rounded-lg text-lg  w-24 h-12 bg-red-700 text-sm text-neutral-50 justify-center px-5 py-2.5;
  };

  .btn-search-1 {
    @apply font-bold rounded-lg text-lg  w-24 h-12 bg-blue-500 text-neutral-50 justify-center;
  }

  /* Checkbox */
  .checkbox-1 {
    @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500
    dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2
    dark:bg-gray-600 dark:border-gray-500;
  }

  /* Selection-drop */
  .selection-drop-1 {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 
    focus:border-blue-500 block w-full p-2;
  }


  /* Modal */
  .modal-base {
    @apply fixed inset-0 z-50 grid h-screen w-screen place-items-center bg-black bg-opacity-60 
    backdrop-blur-sm transition-opacity duration-300 pointer-events-none opacity-0;
  }

  .modal-panel-1 {
    @apply relative m-2.5 items-center flex justify-center rounded-xl h-24;
  }
}