@media screen and (max-width: 768px) {

    // Sidebar
  @keyframes sidebarAnimOpen {
    from {
      min-width: 0;
    }
    to {
      min-width: 80vw;
    }
  }

  @keyframes sidebarAnimClose {
    from {
      min-width: 80vw;
    }
    to {
      min-width: 0;
    }
  }

  .sidebar-content {
    // z-index: 6;
    overflow: hidden;
    display: none;
    height: 100vh;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
    transition: visibility 0.5s, opacity 0.5s;
    box-shadow: rgba(0, 0, 0, 0.5);

    &.open {
      display: flex;
      animation: sidebarAnimOpen 0.5s forwards;
    }

    &.close {
      animation: sidebarAnimClose 0.5s forwards;
    }
  }

  .sidebar-top {
    height: 50px;
    display: flex;
    margin: 2rem;
    font-size: 20px;
    // padding: 2rem;
    * {
      left: 0;
      right: 0;
    }

  }

  .sidebar-profile {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px;
    min-height: 100px;
    color: #eee;
    border: 1px solid var(--p-border-color);
    border-radius: var(--p-border-rad);
    padding: var(--p-padding);
    background-color: var(--p-panel-primary);

    &.sidebar-profile-user {
      display: flex;
      flex-direction: column;
    }
    img {
      width: 100px;
      border-radius: 100%;
      border: 1px solid #eee;
    }
  }

  .sidebar-menu {
    margin: 10px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin: 2px;
      padding: 10px;
      border-top: 2px solid #eee;
      border-right: 2px solid #eee;
      border-left: 2px solid #eee;
      border-bottom: 2px solid var(--p-border-color);
      border-radius: var(--p-border-rad);
      transition: 0.3s ease;
      // font
      font-size: 1.5rem;
      cursor: pointer;

      &:hover {
        background-color: var(--p-hover);
        // shadow
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
