@media screen and (max-width: 768px) {
  @keyframes sidebar_open {
    from {
      width: 0px;
    }
    to {
      width: 80vw;
    }
  }
  .sidebar-content {
    display: none;
    flex-direction: column;
    min-width: 80vw;
    animation: sidebar_open 0.2s;
  }
  .sidebar-content.open {
    display: flex;
  }
  .sidebar-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid var(--p-border-color);
  }
  .sidebar-top .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--p-text-light);
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 0 0 10px;
  }
  .sidebar-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--p-border-color);
    padding: 15px;
  }
  .user-img {
    max-width: 75px;
    max-height: 75px;
    border-radius: 100%;
    border: 3px solid var(--p-border-color);
    margin-right: 10px;
  }
  .sidebar-profile-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--p-text-light);
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 20px;
  }
  .sidebar-menu {
    display: inline-flex;
    flex-direction: column;
  }
  .sidebar-menu li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid var(--p-border-color);
  }
  .sidebar-menu li a {
    display: flex;
    flex-direction: row;
    color: var(--p-text-light);
    font-weight: bold;
    font-size: 1.2rem;
  }
  .sidebar-menu li i {
    margin-right: 1rem;
    color: var(--p-text-light);
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  @keyframes sidebar_open {
    from {
      width: 80px;
    }
    to {
      width: 450px;
    }
  }
  .sidebar-content {
    display: none;
    flex-direction: column;
    animation: sidebar_open 0.2s;
  }
  .sidebar-content.open {
    display: flex;
    width: 450px;
  }
  .sidebar-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid var(--p-border-color);
  }
  .sidebar-top .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--p-text-light);
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 0 0 10px;
  }
  .sidebar-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--p-border-color);
    padding: 15px;
  }
  .user-img {
    max-width: 75px;
    max-height: 75px;
    border-radius: 100%;
    border: 3px solid var(--p-border-color);
    margin-right: 10px;
  }
  .sidebar-profile-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--p-text-light);
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 20px;
  }
  .sidebar-menu {
    display: inline-flex;
    flex-direction: column;
  }
  .sidebar-menu li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid var(--p-border-color);
  }
  .sidebar-menu li a {
    display: flex;
    flex-direction: row;
    color: var(--p-text-light);
    font-weight: bold;
    font-size: 1.2rem;
  }
  .sidebar-menu li i {
    margin-right: 1rem;
    color: var(--p-text-light);
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=sidebar.css.map */